@page
@model HRRoll.Pages.PayrollRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRecord[0].EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRecord[0].DateProcessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRecord[0].GrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRecord[0].Deductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollRecord[0].NetPay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PayrollRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetPay)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PayrollRecordId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PayrollRecordId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PayrollRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
